<h1>vTiger Esteban Reyes</h1>



<h2><b>INPUT:</b></h2>
<table border="1" style="width:300px">
<tr>
  <td><b>Rut Empresa</b></td>
  <td><%=@rut_empresa%></td>
</tr>
<tr>
  
  <td><b>ID Cliente</b></td> 
  <td><%=@input_id%></td> 
</tr>
</table>



<h2><b>PROCESANDO EMPRESA:</b></h2>
<table border="1" style="width:800px">
<tr>
<td><b>Nombre Empresa</b></td>
<td><%=@nombre_empresa%></td>
</tr>
<tr>
<td><b>Rut Empresa</b></td>
<td><%=@rut_empresa%></td>
</tr>
<tr>
<td><b>ID empresa</b></td>
<td><%=@id_empresa%></td>
</tr>
<tr>
<td><b>Telefono</b></td>
<td><%=@telefono_empresa%></td>
</tr>
<td><b>Calle</b></td>
<td><%=@billing_street_empresa%></td>
</tr>
<td><b>Comuna</b></td>
<td><%=@billing_state_empresa%></td>
</tr>
<td><b>Región</b></td>
<td><%=@billing_city_empresa%></td>
</tr>
</td>

</table>


<h2><b>PROCESANDO CLIENTE:</b></h2>
<table border="1" style="width:800px">
<tr>
<td><b>Nombre</b></td>
<td><%=@nombre_empleado%></td>
</tr>
<tr>
<td><b>Apellido</b></td>
<td><%=@apellido_empleado%></td>
</tr>
<tr>
<td><b>ID</b></td>
<td><%=@input_id%></td>
</tr>
<tr>
<td><b>Telefono</b></td>
<td><%=@telefono_empleado%></td>
</tr>

<tr>
<td><b>Calle</b></td>
<td><%=@empleado_street%></td>
</tr>

<tr>
<td><b>Comuna</b></td>
<td><%=@comuna_empleado%></td>
</tr>

<tr>
<td><b>Región</b></td>
<td><%=@region_empleado%></td>
</tr>


</table>



<h2><b>OUTPUT:</b></h2>
<h3><b><u><%=@empleado_street%>, <%=@comuna_empleado%>, <%=@region_empleado%></u></b></h3>


<h2><b>LOG 0:</b></h2>
<%=@b0%>


<h2><b>LOG 1:</b></h2>
<%=@b1%>

<h2><b>LOG 2:</b></h2>
<%=@b2%>


