<h1>Grupo de trabajo</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Clave</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.username %></td>
        <td><%= client.password %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<br>
Si, estoy un poco aburrido
<br>
<br>

<%= link_to 'New Client', new_client_path %>
