<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @product.start_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @product.final_date %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
