<!-- <h1>Listing dashboards</h1> -->

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <center>
<%= image_tag @graph %>
<br><hr>
<%= image_tag @graph2 %>
<br><hr>
<% if @graph7 ==  "La BD de Reportes esta vacia"%>
  La BD de Reportes está vacía
<% else %>
  <%= image_tag @graph7 %>
<% end %>
<br><hr>
<% if @graph6 ==  "La BD de productos o la BD de WebProductos esta vacia"%>
  La BD de productos o la BD de WebProductos está vacía
<% else %>
  <%= image_tag @graph6 %>
<% end %>

<br>

<%= link_to 'Mapa Pedidos Despachados', maps_path, 'data-no-turbolink' => true%>
<!-- <%= link_to 'New Dashboard', new_dashboard_path %> -->
